@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-montserrat
}


@font-face {
  font-family: 'Gasoek';
  src: url('../public/font/Gasoek-Heavy.woff2') format('woff2'),
      url('../public/font/Gasoek-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gasoek';
  src: url('../public/font/Gasoek.woff2') format('woff2'),
      url('../public/font/Gasoek.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../public/font/Montserrat-Bold.woff2') format('woff2'),
      url('../public/font/Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../public/font/Montserrat-Medium.woff2') format('woff2'),
      url('../public/font/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../public/font/Montserrat-Regular.woff2') format('woff2'),
      url('../public/font/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../public/font/Montserrat-SemiBold.woff2') format('woff2'),
      url('../public/font/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
